{% extends 'main.html' %}

{% block title %} OTS - Candidate Result History {% endblock title %}
{% block top %}
<a href="{% url 'OTS:home' %}">Home</a>
<a href="{% url 'OTS:logout' %}">Logout</a>
{%endblock%}

{% block content %}
<h1>Your Report Card</h1>
<p>Hi <span class="special">{{candidate.name}}</span>, 
    you have attempted in total <span class="special">{{candidate.test_attempt}}</span> tests and you have scored <span class="special">{{candidate.points}}</span>
     on the scale of 10.</p>
    <table>
       <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Attempt</th>
        <th>Right</th>
        <th>Wrong</th>
        <th>Points</th>
    </tr>
    {% for r in result %}
    <tr>
        <td>{{r.date}}</td>
        <td>{{r.time}}</td>
        <td>{{r.attempt}}</td>
        <td>{{r.right}}</td>
        <td>{{r.wrong}}</td>
        <td>{{r.points}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}