<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'theme.css' %}">
    <link rel="stylesheet" href="{% static 'formstyle.css' %}">
    <link rel="stylesheet" href="{% static 'buttonstyle.css' %}">

</head>
<body>
    <div class = "top">
        <div class="sitename"><h1>Online Testing System</h1></div>
        <div class = "menu">
            {% block top %}{% endblock %}
        </div>
    </div>
    <div class="content">
        {%block content%}{% endblock %}
    </div>
</body>
</html>