form{
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
    display: table;
    width: 100%;
}

input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    font-size: 22px;
}

.question{
    color:red;
    font-size: 22px;
    margin-bottom: 20px;
}

.options{
    font-size:22px;
}

.options input{
    display: inline;
    width:fit-content;
    height:10px;
}